/*Start of school year and douments uploads*/
.school_year {
    width: auto;
    height: auto;
    position: relative;

    .previousYear {
        display: none
    }

    #uploadDocs {
        margin-top: 10px;
    }

    p.doctypeError {
        display: none
    }

    p.thanksdocs {
        display: none;
    }
}

/*End of school year and douments uploads*/



/* displayDate section */

.displayDate {
    position: relative;
    min-height: 450px;;

    .fa-arrow-right {
        font-size: 56px;
        color: #ff3535;
    }

    small.sm {
        margin-top: 10px;
        position: absolute;
        margin-left: 20px;
        font-size: 25px;
    }
}