* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    height: auto;
    overflow-x: hidden;
}

.form_header {
    background-color: #dad7d763;
    width: auto;
    height: 80px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 80px;
}

.form_header h1 {
    line-height: 65px;
    font-size: 60px;
}

.para {
    text-align: left;
}


input[type="text"],
input[type="email"] {
    width: 98%;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type="text"]:focus {
    width: 100%;
    background-color: #f94;
}

input[type="email"]:focus {
    width: 100%;
    background-color: #f94;
}


.content {
    width: 450px;
    margin-top: 40px;
}

