nav li {
    font-size: 1.4em;
}

#main_nav{
    width: 100%;
 
}
#main_nav ul li a,
.navbar-light .navbar-brand {
    color: #000
}
/*.navbar-light .navbar-brand:hover{
    color: #fff
}*/
.main_form label {

    color: #999
}

.li_bg {
    background-color: #8fff86;
    color: #000 !important;
}