* {
    padding: 0px;
    margin: 0px;
}

body {
    height: auto;
    overflow-x: hidden;
}

.form_header {
    background-color: #dad7d763;
    width: auto;
    height: 80px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 80px;
}

.form_header h1 {
    line-height: 65px;
    font-size: 60px;
}

.para {
    text-align: left;
}


input[type="text"],
input[type="email"] {
    width: 98%;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type="text"]:focus {
    width: 100%;
    background-color: #f94;
}

input[type="email"]:focus {
    width: 100%;
    background-color: #f94;
}



.content {
    width: 450px;
    margin-top: 40px;
}

nav li {
    font-size: 1.4em;
}

#main_nav{
    width: 100%;
   /* background-color: #7777772b;*/
}
#main_nav ul li a,
.navbar-light .navbar-brand {
    color: #000
}
/*.navbar-light .navbar-brand:hover{
    color: #fff
}*/
.main_form label {

    color: #999
}

.li_bg {
    background-color: #8fff86;
    color: #000 !important;
}

button {
    background-color: #EB0909;
    width: 100%;
    height: 40px;
    border-radius: 15px 5px 15px 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: width .2s ease-in-out;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    -ms-transition: width .2s ease-in-out;
}

#hosting_plans {
    width: auto;
    min-height: 850px;
    position: relative;
    background: #ececec;
    margin-bottom: 40px;
    display: block;


}

#hosting_plans img {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}

#hosting_plans img:hover {
    opacity: .6;
    cursor: pointer;

}

#message {
    display: none;
}

/*all_plans style*/
.all_plans {
    position: relative;
    margin-top: 120px;
    /*margin-bottom: 80px;*/
}

.all_plans ul {
    background-color: #b35f1b;
    height: 40px;
    line-height: 40px;
}

.all_plans ul li {
    width: 10%;
    height: 40px;
    list-style: none;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-right: 2px solid #dca97f;
    text-align: center;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-ou
}
.all_plans ul li:nth-child(5){
    border: 0px;
}

.all_plans ul li.active {
    background-color: #9a4908;
}

.all_plans ul li:hover {
    background-color: #ce864c
}



.img_opacity {
    opacity: .5;
}





/*Add class to all*/
.all_div_plans {
    border-bottom: 4px solid #b14f00;
}

.border_right {
    border-right: 4px solid #f00;
}





/*to do list*/

.book_list .btn {
    margin-top: -31px;
}

td.title {
    font-size: 20px;

    color: #2f2a2a
}



/*delete*/

a.del_book{
 
font-weight: bold;
     
}


 
  
.footer {
    width: 100%;
    min-height: 150px;
    margin-top: 40px;
    background-color: #49494a;
    color: #fff;
    text-align: center;
}

.footer p {
    line-height: 150px
}

