/*Start of header */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  height: 1500px;
  overflow-x: hidden;
}

.form_header {
  background-color: #dad7d763;
  width: auto;
  height: 80px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 80px;
}

.form_header h1 {
  line-height: 65px;
  font-size: 60px;
}

.para {
  text-align: left;
}

input[type="text"],
input[type="email"] {
  width: 98%;
  -webkit-transition: ease-in-out, width .35s ease-in-out;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type="text"]:focus {
  width: 100%;
  background-color: #f94;
}

input[type="email"]:focus {
  width: 100%;
  background-color: #f94;
}

.content {
  width: 450px;
  margin-top: 40px;
}

/*End of header */
/*Start of nav */
nav nav li {
  font-size: 1.4em;
}

#main_nav {
  width: 100%;
}

#main_nav ul li a,
.navbar-light .navbar-brand {
  color: #000;
}

.main_form label {
  color: #999;
}

.li_bg {
  background-color: #8fff86;
  color: #000 !important;
}

/*End of nav */
/*Start of hosting plan section */
#hosting_plans {
  width: auto;
  min-height: 850px;
  position: relative;
  background: #ececec;
  margin-bottom: 40px;
  display: block;
}

#hosting_plans img {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

#hosting_plans img:hover {
  opacity: .6;
  cursor: pointer;
}

#message {
  display: none;
}

/*all_plans style*/
.all_plans {
  position: relative;
  margin-top: 120px;
}

.all_plans ul {
  background-color: #b35f1b;
  height: 40px;
  line-height: 40px;
}

.all_plans ul li {
  width: 10%;
  height: 40px;
  list-style: none;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-right: 2px solid #dca97f;
  text-align: center;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.all_plans ul li:hover {
  background-color: #ce864c;
}

.all_plans ul li:nth-child(5) {
  border: 0px;
}

.all_plans ul li li.active {
  background-color: #9a4908;
}

.img_opacity {
  opacity: .5;
}

/*Add class to all*/
.all_div_plans {
  border-bottom: 4px solid #b14f00;
}

.border_right {
  border-right: 4px solid #f00;
}

/*to do list*/
.book_list .btn {
  margin-top: -31px;
}

td.title {
  font-size: 20px;
  color: #2f2a2a;
}

/*delete*/
a.del_book {
  font-weight: bold;
}

/*End of hosting plan section */
/* Start of form submission submit.html */
.file_name {
  display: none;
  background-color: #f99;
  color: #fff !important;
  padding: 5px;
}

p.lead {
  display: none;
  font-size: 24px;
  background-color: #28a745;
  color: #fff !important;
  padding: 5px;
}

.block_cursor:hover {
  cursor: no-drop;
}

/*Start of to do list section */
#item_list {
  position: relative;
}

#item_list input[type="text"] {
  background-color: #cccc;
}

/*End of to do list section */
/* Start of Software Updates section */
.software_updates {
  width: auto;
  position: relative;
  height: 20px;
  display: block;
}

.software_updates h1 {
  margin-bottom: 25px;
}

.software_updates p.para_height {
  color: #666;
  display: none;
}

.software_updates img {
  opacity: .5;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
}

.software_updates img:hover {
  opacity: 1;
}

.software_updates .read_less {
  display: none;
}

.software_updates .read_more,
.software_updates .read_less {
  cursor: pointer;
  margin: 10px 35%;
}

/* End of Software Updates section */
/* End of form submission  submit.html */
/* Start of book list style */
.avaible_lists {
  position: relative;
}

.avaible_lists table.table thead th {
  background-color: #2a2a2c;
  color: #fff;
}

/* End of book list style */
/* Start of current and previous years section */
/*Start of school year and douments uploads*/
.school_year {
  width: auto;
  height: auto;
  position: relative;
}

.school_year .previousYear {
  display: none;
}

.school_year #uploadDocs {
  margin-top: 10px;
}

.school_year p.doctypeError {
  display: none;
}

.school_year p.thanksdocs {
  display: none;
}

/*End of school year and douments uploads*/
/* displayDate section */
.displayDate {
  position: relative;
  min-height: 250px;
  background-color: #e8e8eac4;
}

.displayDate .fa-arrow-right {
  font-size: 56px;
  color: #ff3535;
}

.displayDate small.sm {
  margin-top: 10px;
  position: absolute;
  margin-left: 20px;
  font-size: 25px;
}

/* End of current and previous years section */
/* Start skills and tools style */
#skills__tools {
  position: relative;
}

#skills__tools > h1 {
  margin-bottom: 45px;
  text-align: center;
}

#skills__tools .show__overlay__bg {
  width: auto;
  min-height: 250px;
  position: relative;
  display: block;
  margin-bottom: 50px;
}

#skills__tools .show__overlay__bg img {
  width: 100%;
  display: block;
  max-height: 250px;
}

#skills__tools .show__overlay__bg .image {
  display: block;
  min-width: 100%;
  min-height: 250px;
}

#skills__tools .show__overlay__bg .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(132, 106, 106, 0.4);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .6s ease-in-out;
  -webkit-transition: .6s ease-in-out;
  -moz-transition: .6s ease-in-out;
  -ms-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
}

#skills__tools .show__overlay__bg .overlay .text {
  min-width: 100%;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: left;
}

#skills__tools .show__overlay__bg .overlay .text ul {
  position: relative;
}

#skills__tools .show__overlay__bg .overlay .text ul li {
  margin: auto 1px;
  cursor: pointer;
}

#skills__tools .show__overlay__bg:hover .overlay {
  height: 100%;
}

#skills__tools .show__overlay__bg span {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: #584343;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

/* End skills and tools style */
/*Start of footer section */
.footer {
  width: 100%;
  min-height: 150px;
  margin-top: 40px;
  background-color: #49494a;
  text-align: center;
}

.footer p {
  line-height: 150px;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

/*End of footer section */
/*# sourceMappingURL=style.css.map */